<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Predict Your DNA Mutation</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oooh+Baby&family=Questrial&family=Splash&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oooh+Baby&family=Questrial&family=Splash&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oooh+Baby&family=Questrial&family=Splash&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <main id="main" data-scroll-container>
      <div class="home">
        <nav>
          <div class="navbar-ion-container">
            <a href="#about" class="nav-link">about</a>
            <a
              href="https://github.com/Ankit6174/Domain-Specific-Mini-LLM-for-Genomic-Mutation-Prediction"
              >Source Code</a
            >
            <a href="#contact" class="nav-link">Contact</a>
          </div>
          <div class="navbar-predict-container">
            <a href="prediction-form">Predict</a>
          </div>
        </nav>
        <div class="hero-section">
          <div class="scroll-animation-container" data-scroll>
            SCROLL
            <div class="scroll-animation-main-container">
              <div class="scroll-animation-dot"></div>
            </div>
          </div>
          <h1
            class="hero-section-main-heading"
            data-scroll
            data-scroll-speed="0.5"
          >
            <span>DECODE</span>
            <span>DNA</span>
            <span class="higlighted-text-hero-section"> MUTATIONS </span>
            <span>TO</span>
            <span>REVEAL</span>
            <span>HIDDEN</span>
            <span>GENETIC</span>
            <span>INSIGHTS</span>
          </h1>
          <div class="hero-section-bottom-container">
            <div
              class="hero-button-container"
              onclick="window.open('prediction-form')"
              data-scroll
              data-scroll-speed="2"
            >
              GET PREDICTION
              <span class="material-symbols-outlined"> arrow_forward </span>
            </div>
            <p data-scroll data-scroll-speed="2">
              REVOLUTIONIZE DNA RESEARCH BY PREDICTING MUTATION TYPE, LOCATION,
              IMPACT, AND CLINICAL RELEVANCE.
            </p>
          </div>
        </div>
        <div class="ribbon-container">
          <div class="ribbon">
            <span
              >Domain-Specific-Mini-LLM-for-<font style="color: #c0c0c0"
                >Genomic-Mutation</font
              >-Prediction</span
            >
            <span
              >Domain-Specific-Mini-LLM-for-<font style="color: #c0c0c0"
                >Genomic-Mutation</font
              >-Prediction</span
            >
            <span
              >Domain-Specific-Mini-LLM-for-<font style="color: #c0c0c0"
                >Genomic-Mutation</font
              >-Prediction</span
            >
          </div>
        </div>
      </div>
      <div class="about" id="about">
        <div class="about-left-container">
          <h1 class="about-container-main-heading">
            About
            <font style="font-family: 'Splash'; font-weight: 300">Us</font>
          </h1>
          <div class="about-main-content-container">
            <div class="about-main-content-top-container">
              <div class="about-main-content-main-top-container">
                Genome
                <div class="about-page-line"></div>
                Insights
              </div>
              <p class="about-main-content-top-container-paragraph">
                Our platform was built to simplify understanding genetic
                mutations. The latest transformer methods will allow us to
                predict possible mutations in DNA with accuracy. This is an
                innovative tool so the researcher, student, or professional can
                access genomic data faster and more accurately, so everybody can
                access and understand genetic matters.
              </p>
            </div>
            <div class="about-main-content-bottom-container">
              <p onclick="window.open('prediction-form')">Get Prediction</p>
              <div class="about-main-content-bottom-container-icon-container">
                <i
                  class="ri-arrow-right-line"
                  onclick="window.open('prediction-form')"
                ></i>
              </div>
            </div>
          </div>
          <div class="new about-box-container">
            <div class="about-box-left-container"></div>
            <div class="about-box-left-line-container">
              <div class="about-page-box-line"></div>
            </div>
          </div>
        </div>
        <div class="about-right-container">
          <div
            class="about-right-center-container"
            data-scroll
            data-scroll-speed="3"
          >
            <div class="about-right-center-container-items">
              <h1>
                <font style="font-family: 'Questrial'; font-weight: 500"
                  >2.9M</font
                ><font style="font-family: 'Splash'; font-weight: 100">+</font>
              </h1>
              <p>
                Parameters in the model, optimized for advanced genomic analysis and predictions.
              </p>
            </div>
            <div class="about-right-center-container-items">
              <h1>
                <font style="font-family: 'Questrial'; font-weight: 500"
                  >15</font
                ><font style="font-family: 'Splash'; font-weight: 100">+</font>
              </h1>
              <p>
                Includes mutation type, genomic position, chromosome and
                clinical significance.
              </p>
            </div>
            <div class="about-right-center-container-items">
              <h1>
                <font style="font-family: 'Questrial'; font-weight: 500"
                  >87</font
                ><font style="font-family: 'Splash'; font-weight: 100">%</font>
              </h1>
              <p>
                High accuracy achieved using advanced transformer-based models.
              </p>
            </div>
            <div class="about-right-center-container-items">
              <h1>
                <font style="font-family: 'Questrial'; font-weight: 500"
                  >100</font
                ><font style="font-family: 'Splash'; font-weight: 100">%</font>
              </h1>
              <p>
                Open Source. Transparent and accessible for researchers
                worldwide.
              </p>
            </div>
          </div>
        </div>
        <div class="about-box-containerr">
          <div class="about-box-left-containerr"></div>
          <div class="about-box-left-line-containerr">
            <div class="about-page-box-linee"></div>
          </div>
        </div>
      </div>
      <div class="contact" id="contact">
        <h1 class="contact-main-heading">
          We'd <font style="color: #c0c0c0">love</font> to hear from you!
        </h1>
        <p class="contact-main-paragraph">
          Have a nice works? Reach out and let's talk.
        </p>
        <div class="contact-main-content-bottom-container">
          <form id="contectFrom" action="/getInContect" method="post" class="contact-main-content-bottom-left-container">
            <div class="name-email-input-contact-container">
              <div class="name-input-field-contact-container">
                <label for="name">Name *</label> <br />
                <input type="text" id="name" name="name" placeholder="Jon Doe" />
              </div>
              <div class="email-input-field-contact-container">
                <label for="email">Email *</label> <br />
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Where can we reply?"
                />
              </div>
            </div>
            <div class="organization-input-field-contact-container">
              <label for="organization">Organization</label> <br />
              <input
                type="text"
                id="organization"
                name="organization"
                placeholder="Enter your organization or role"
              />
            </div>
            <div class="what-in-you-mind-input-field-contact-container">
              <label for="whatinyoumind">What's in your mind? *</label>
              <div id="topics">
                <button type="button" onclick="selectTopic('General Inquiry')">
                  General Inquiry
                </button>
                <button
                  type="button"
                  onclick="selectTopic('Collaboration/Partnership')"
                >
                  Collaboration/Partnership
                </button>
                <button
                  type="button"
                  onclick="selectTopic('Research Discussion')"
                >
                  Research Discussion
                </button>
                <button
                  type="button"
                  onclick="selectTopic('Technical Support')"
                >
                  Technical Support
                </button>
                <button type="button" onclick="selectTopic('Feedback')">
                  Feedback
                </button>
              </div>
              <input
                style="display: none"
                type="hidden"
                name="mindTopic"
                id="mindTopic"
              />
            </div>
            <div class="message-input-field-contact-container">
              <label for="message">Message *</label> <br />
              <input
                type="text"
                id="message"
                name="message"
                placeholder="Enter a description..."
              />
            </div>
            <button id="submitBtn" class="contact-page-main-send-button" type="submit">
              Send Message
            </button>
          </form>
          <div class="contact-main-content-bottom-right-container">
            <div class="contact-contacts-main-container">
              <div class="contact-page-visit-us-container">
                <h2>Visit Us</h2>
                <p>
                  Ankit Ahirwar <br />
                  162 Nanda Nagar <br />
                  Indore, MP 425011 <br />
                  India
                </p>
              </div>
              <div class="contact-page-talk-us-to-container">
                <h2>Talk To Us</h2>
                <p>+91 99262 78970 ankit@gmail.com</p>
              </div>
              <div class="contact-page-icons-container">
                <i
                  onclick="window.open('https://www.x.com/ankit_6174_')"
                  class="ri-twitter-x-line"
                ></i>
                <i
                  onclick="window.open('https://www.linkedin.com/.com/Ankit6174')"
                  class="ri-linkedin-line"
                ></i>
                <i
                  onclick="window.open('https://www.github.com/Ankit6174')"
                  class="ri-github-line"
                ></i>
                <i
                  onclick="window.open('https://www.instagram.com/ankit_6174_')"
                  class="ri-instagram-line"
                ></i>
              </div>
            </div>
          </div>
        </div>

        <div id="successMessage" class="message-show-container">
          <div class="message-animation-main-container">
            <div class="message-animation-background"></div>
            <div class="message-animation-front">
              <i class="ri-check-line"></i>
            </div>
          </div>
          <h1>message sent successfully</h1>
          <p>Thank you for reaching out to us. We appreciate your message and will respond at the earliest convenience.</p>
        </div>
        
      </div>
      <div class="call-to-action">
        <h1>Ready to Explore Your DNA Mutations?</h1>
        <div
          class="button-contianer-call-to-action"
          onclick="window.location.href = '/prediction-form'"
        >
          <div class="glow"></div>
          Get Prediction
          <span class="material-symbols-outlined"> arrow_forward </span>
        </div>
        <div class="footer-icons-container-call-to-action">
          <div class="footer-icon-cto">Home</div>
          <div class="footer-icon-cto">Source Code</div>
          <div class="footer-icon-cto">About</div>
          <div class="footer-icon-cto">Contact</div>
          <div
            class="footer-icon-cto"
            onclick="window.location.href='mailto:ahirwarankit2345@gmail.com'"
          >
            ankit@gmail.com
          </div>
          <div
            class="footer-icon-cto"
            onclick="window.location.href='tel:+91 99262 78970'"
          >
            +91 99262 78970
          </div>
          <div
            class="footer-icon-cto"
            onclick="window.location.href='https://github.com/Ankit6174'"
          >
            Github
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script src="javascript/locomotive.js"></script>
  <script src="javascript/animation.js"></script>
  <script src="javascript/home.js"></script>
</html>
