.contact {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.contact-main-heading {
    width: 350px;
    text-align: center;
    font-size: 40px;
    color: #2a2a2a;
    font-family: "Questrial";
    font-weight: 800;
    margin-top: 50px;
}

.contact-main-paragraph {
    width: 500px;
    text-align: center;
    font-family: "IBM Plex Mono";
    color: #2a2a2a;
}

.contact-main-content-bottom-container {
    width: 75%;
    height: 550px;
    display: flex;
}

.contact-main-content-bottom-left-container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.name-email-input-contact-container {
    display: flex;
}

.name-input-field-contact-container {
    width: 250px;
    height: 50px;
    font-family: "Questrial";
    font-weight: 500;

    input {
        height: 40px;
        border: none;
        padding-left: 30px;
        border-bottom: 1px solid #ccc;
        background: transparent;
        font-size: 14px;
        color: #333;
        font-family: "IBM Plex Mono";
        outline: none;
    }

    input::placeholder {
        color: #aaa;
        font-size: 13px;
    }
}

.email-input-field-contact-container {
    width: 250px;
    height: 50px;
    font-family: "Questrial";
    font-weight: 500;

    input {
        height: 40px;
        border: none;
        padding-left: 30px;
        border-bottom: 1px solid #ccc;
        background: transparent;
        font-size: 14px;
        color: #333;
        font-family: "IBM Plex Mono";
        outline: none;
    }

    input::placeholder {
        color: #aaa;
        font-size: 13px;
    }
}

.organization-input-field-contact-container {
    width: 300px;
    height: 50px;
    font-family: "Questrial";
    font-weight: 500;

    input {
        height: 40px;
        width: 300px;
        border: none;
        padding-left: 30px;
        border-bottom: 1px solid #ccc;
        background: transparent;
        font-size: 14px;
        color: #333;
        font-family: "IBM Plex Mono";
        outline: none;
    }

    input::placeholder {
        color: #aaa;
        font-size: 13px;
    }
}

.what-in-you-mind-input-field-contact-container {
    width: 300px;
    font-family: "Questrial";
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#topics {
    width: 400px;

    button {
        font-family: "IBM Plex Mono";
        background: #f9f9f9;
        padding: 5px 10px;
        border-radius: 50px;
        border: 0.5px solid #2a2a2a;
        margin-top: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    button.selected {
        background-color: #cacaca;
    }
}

.message-input-field-contact-container {
    width: 300px;
    height: 50px;
    font-family: "Questrial";
    font-weight: 500;

    input {
        height: 40px;
        width: 300px;
        border: none;
        padding-left: 30px;
        border-bottom: 1px solid #ccc;
        background: transparent;
        font-size: 14px;
        color: #333;
        font-family: "IBM Plex Mono";
        outline: none;
    }

    input::placeholder {
        color: #aaa;
        font-size: 13px;
    }
}

.contact-page-main-send-button {
    width: 150px;
    height: 45px;
    font-family: "Questrial";
    font-size: 18px;
    background: #2a2a2a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-main-content-bottom-right-container {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
}

.contact-contacts-main-container {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-page-visit-us-container {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
        font-family: "Questrial";
        font-weight: 600;
        color: #4a4a4a;
    }

    p {
        font-family: "IBM Plex Mono";
        font-weight: 300;
        color: #4a4a4a;
        font-size: 14px;
    }
}

.contact-page-talk-us-to-container {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
        font-family: "Questrial";
        font-weight: 600;
        color: #4a4a4a;
    }

    p {
        font-family: "IBM Plex Mono";
        font-weight: 300;
        color: #4a4a4a;
        font-size: 14px;
    }
}

.contact-page-icons-container {
    width: 150px;
    display: flex;
    gap: 15px;
    font-size: 20px;

    i {
        cursor: pointer;
        transition: 0.2s;
        color: #2a2a2a;

        &:hover {
            transform: translateY(-5px);
        }
    }
}

@media (max-width: 850px) {
    .name-email-input-contact-container {
        flex-direction: column;
        gap: 30px;
    }

    .contact-main-content-bottom-container {
        height: auto;
        flex-direction: column;
    }

    .contact-contacts-main-container {
        width: auto;
        height: auto;
        flex-direction: row;
        padding: 50px 0px;
    }
}

@media (max-width: 570px) {
    .contact-contacts-main-container {
        flex-direction: column;
        gap: 30px;
    }

    .contact-main-content-bottom-container {
        margin-top: 25px;
        height: auto;
        width: 85%;
    }

    .contact-main-heading {
        width: 340px;
        font-size: 35px;
    }

    .contact-main-paragraph {
        width: 320px;
        font-size: 12px;
    }

    .contact {
        width: auto;
    }

    #topics {
        width: 335px;
        display: flex;
        gap: 3px;
        flex-wrap: wrap;
    }

    .name-input-field-contact-container {
        input {
            width: 300px;
        }
    }

    .email-input-field-contact-container {
        input {
            width: 300px;
        }
    }
}